$background-color: #181a1b;
$foreground-color: #2d2f33;
$accent-color: #6f2b9b;
$error-color: #9b2b40;
$warn-color: #9b8c2b;
$info-color: #668ec4;
$spacing-small: 0.5em;
$spacing-medium: 1em;
$spacing-large: 2em;

@mixin theme($theme: $foreground-color) {
  background-color: $theme;
}

@mixin card(
  $theme: $foreground-color,
  $shadow: rgba(0, 0, 0, 0.25),
  $radius: 5px
) {
  box-shadow: 0 4px 8px 0 $shadow;
  border-radius: $radius;
  transition: all 0.3s ease-in-out;
}

@mixin center() {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
