@use "base";

// general purpose styling

#not-found {
  padding: 4em;
  margin: 4em;
  text-align: center;
  animation: fade-in 1s ease-in-out;

  h1 {
    font-size: 3em;
    color: base.$accent-color;
  }
}

.card {
  @include base.theme;
  @include base.card;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  animation: card-entry 0.8s ease-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    background-color: lighten(base.$foreground-color, 5%);
  }
}

.header {
  top: 0;
  margin: 0.3em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background-color: darken(base.$accent-color, 10%);
  border-radius: 10px;

  a {
    @include base.card;
    background-color: base.$accent-color;
    color: white;
    padding: 0.5em 1em;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    font-size: 1.2em;
    font-weight: bold;

    &:hover {
      background-color: lighten(base.$accent-color, 10%);
      color: lighten(white, 10%);
    }
  }
}

blockquote {
  background-color: #27282c;
  padding: 0.25em 0.5em;
  border-left: 5px solid base.$accent-color;
  font-style: italic;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten(#27282c, 5%);
  }
}

#map-asset-view {
  @include base.theme;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  animation: fade-in 1s ease-in-out;

  #content {
    @include base.center;
  }

  img {
    width: 25vw;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes card-entry {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
