// Branding
@use "base";

// Required
:root {
  --darkreader-neutral-background: #131516;
  --darkreader-neutral-text: #d8d4cf;
  --darkreader-selection-background: #004daa;
  --darkreader-selection-text: #e8e6e3;
}
html,
body,
input,
textarea,
select,
button {
  border-color: #736b5e;
  color: #e8e6e3;
}
html,
body,
input,
textarea,
select,
button {
  background-color: #181a1b;
}
html {
  color-scheme: dark !important;
  background-color: base.$background-color !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: base.$accent-color base.$background-color;
}

button,
a {
  &:focus {
    outline: 2px solid base.$accent-color;
    outline-offset: 2px;
  }
}

// imports
@import "general";
@import "readme";
@import "catalog";
